torch>=1.10
torchvision
tqdm
moviepy
imageio
imageio-ffmpeg
numpy
pillow
pandas
scipy
decorator
proglog
python-dotenv
opencv-python
numpy
scipy
matplotlib
opencv-python
h5py
torch
torchvision
tensorflow>=2.8.0
tensorflow-hub>=0.12.0
pandas
tqdm
# Add any other packages you use in your project below
